<ion-header>
  <ion-toolbar>
    <ion-title>Calendário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="estrelado">
  <ion-label class="mes" style="font-size: 2em;">{{mes}}</ion-label>
<ion-list *ngFor="let diaLunar of luas">
  <ion-item [routerLink]="['/fase-nova']" *ngIf="diaLunar.lua == 'nova'">
    <ion-img style="width: 50px; height: 50px" src="/assets/nova.svg"></ion-img>
    <ion-label class="estilo">{{ diaLunar.dia }} nova</ion-label>
  </ion-item>
  <ion-item [routerLink]="['/fase-crescente']" *ngIf="diaLunar.lua == 'crescente'">
    <ion-img style="width: 50px; height: 50px" src="/assets/crescente.svg"></ion-img>
    <ion-label class="estilo">{{ diaLunar.dia }} crescente</ion-label>
  </ion-item>
  <ion-item [routerLink]="['/fase-cheia']" *ngIf="diaLunar.lua == 'cheia'">
    <ion-img style="width: 50px; height: 50px" src="/assets/cheia.svg"></ion-img>
    <ion-label class="estilo">{{ diaLunar.dia }} cheia</ion-label>
  </ion-item>
  <ion-item [routerLink]="['/fase-minguante']" *ngIf="diaLunar.lua == 'minguante'">
    <ion-img style="width: 50px; height: 50px" src="/assets/minguante.svg"></ion-img>
    <ion-label class="estilo">{{ diaLunar.dia }} minguante</ion-label>
  </ion-item>
</ion-list>
</ion-content>
