ion-content{
    --ion-background-color: var(--ion-color-dark)
}
.logo{
    color:white;
    font-size: 70pt
}
h1, h5{
    color: white;
    text-align: center
}
.estilo{
    background-color: white;
    margin-top: 15px;
    padding-left: 10px;
    border-radius: 20px;
    ion-icon{
        margin-top: 10px;
    }
}