<ion-header>
  <ion-toolbar>
    <ion-title>A Lua cheia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img style="width: 200px; height: 200px" src="/assets/cheia.svg"></ion-img>
  <p>Uma das fases da Lua, quando a sua totalidade<br>
     é refletida na Terra é chamada de Lua cheia.<br>
      Ocorre quando a Lua completa um movimento de<br>
       180° após a Lua nova, assim, seu disco lunar <br>
       totalmente iluminado e é visível à noite, pois<br>
        ela se opõe ao Sol em relação à Terra. O brilho <br>
        característico da Lua, bem dominante nessa fase, é denominado de luar.</p>
  <ion-button [routerLink]="['/calendario']">Voltar</ion-button>
</ion-content>
