<ion-header>
  <ion-toolbar>
    <ion-title>Lua Cheia</ion-title>
    <ion-button [routerLink]="['/calendario']">Voltar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="estrelado">
  <ion-img style="width: 200px; height: 200px" src="/assets/cheia.svg"></ion-img>
  <div style="text-align: center;">
    <p>Uma das fases da Lua, quando a sua totalidade
      é refletida na Terra é chamada de Lua cheia.
        Ocorre quando a Lua completa um movimento de
        180° após a Lua nova, assim, seu disco lunar 
        totalmente iluminado e é visível à noite, pois
          ela se opõe ao Sol em relação à Terra. O brilho 
          característico da Lua, bem dominante nessa fase, é denominado de luar.
        </p>

      <p>É o período em que a Lua está no seu ápice, no seu momento máximo de força e brilho. 
          Aqui, as emoções ficam à flor da pele e é o período mais propício ao amor e às emoções 
          que ele provoca. Portanto, deve-se tomar muito cuidado antes de tomar atitudes muito 
          emocionais, já que o humor de todos nós fica alterado pela lua. É uma excelente época 
          para fazer rituais para os assuntos do coração.
            
            
      </p>

      <h2>Bem-estar e visual</h2>
      <p>
            Positivo: cortar o cabelo nesta época faz com que ganhe mais volume e fique mais
            vistoso. É o período indicado para tratar da pele e fazer uma hidratação no cabelo.
      </p>
      <p>
            Negativo: como é uma fase de excessos, não se recomenda fazer cirurgias, por ter 
            maior risco de hemorragia. Também não é indicado fazer depilação, dietas para 
            emagrecer ou pintar o cabelo, já que a fartura e o exagero está em alta.
      </p>
    </div>
</ion-content>
