<ion-header>
  <ion-toolbar>
    <ion-title>fase-nova</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img style="width: 200px; height: 200px" src="/assets/nova.svg"></ion-img>
  <p>As fases da Lua referem-se à mudança <br>
    aparente da porção visível iluminada do <br>
    satélite devido a sua variação da posição<br>
     em relação à Terra e ao Sol. O ciclo completo,<br>
      denominado lunação, leva pouco mais de <br>
      29 dias para se completar, período no qual<br>
       a Lua passa da fase nova, quando a sua porção <br>
       iluminada visível passa a aumentar gradualmente <br>
       até que, duas semanas depois ocorra a lua<br>
        cheia e, cerca de duas semanas seguintes, <br>
        volta a diminuir e o satélite entra novamente na fase nova.</p>
     
  <ion-button [routerLink]="['/calendario']">Voltar</ion-button>
</ion-content>
