<ion-header>
  <ion-toolbar>
    <ion-title>fase-nova</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="estrelado">
  <ion-img style="width: 200px; height: 200px" src="/assets/nova.svg"></ion-img>
  <div style="text-align: center;">
        <p>
          As fases da Lua referem-se à mudança 
          aparente da porção visível iluminada do 
          satélite devido a sua variação da posição
          em relação à Terra e ao Sol. O ciclo completo,
          denominado lunação, leva pouco mais de 
          29 dias para se completar, período no qual
          a Lua passa da fase nova, quando a sua porção 
          iluminada visível passa a aumentar gradualmente 
          até que, duas semanas depois ocorra a lua
          cheia e, cerca de duas semanas seguintes, 
          volta a diminuir e o satélite entra novamente na fase nova.</p>
          <p>

          <p>
            Nesse período temos a melhor época para tirar do papel todos os 
            planos que ainda não foram colocados em prática. Chegou a hora! 
            Nessa fase, é como se a Lua estivesse nascendo, iniciando seu ciclo 
            dividido em quatro partes, o que faz dele a melhor etapa para tomar
            decisões de maior importância. Reserve esses períodos para seguir 
            em frente no que adiou por tanto tempo.
          </p>
          
          <h2>Bem-estar e visual</h2>

          <p>
              Positivo: é uma fase interessante para quem deseja fazer uma dieta 
              para ganhar peso. Cortar os cabelos nesta Lua faz com que cresçam mais 
              rapidamente. também é um  bom momento para começar um tratamento de 
              beleza ou mudar de visual.
          </p>
              
          <p>  
              Negativo: este momento não é o mas indicado para fazer cirurgias ou
              exames médicos de rotina.
          </p>

    </div>
  <ion-button [routerLink]="['/calendario']">Voltar</ion-button>
</ion-content>
