<ion-header>
  <ion-toolbar>
    <ion-title>A Lua crescente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img style="width: 200px; height: 200px" src="/assets/crescente.svg"></ion-img>
  <p>Quarto crescente é uma das fases da Lua. <br>
    Ocorre quando o ângulo Terra - Lua - Sol <br>
    é aproximadamente reto, de modo que vemos <br>
    apenas cerca da metade do disco lunar, no <br>
    período em que a parte iluminada está em crescimento</p>
  <ion-button [routerLink]="['/calendario']">Voltar</ion-button>
</ion-content>
