<ion-header>
  <ion-toolbar>
    <ion-title>A Lua crescente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="estrelado">
  <ion-img style="width: 200px; height: 200px" src="/assets/crescente.svg"></ion-img>
    <div style="text-align: center;">
        <p>
          Quarto crescente é uma das fases da Lua. 
          Ocorre quando o ângulo Terra - Lua - Sol 
          é aproximadamente reto, de modo que vemos 
          apenas cerca da metade do disco lunar, no 
          período em que a parte iluminada está em crescimento
        </p>
    
        <p>
          Chegamos à melhor época para retomar velhos projetos que ficaram no passado, 
          em prol de outras prioridades.E isso inclui ações a serem tomadas no amor, na 
          carreira, na família, viagens planejadas etc.A Lua Crescente é prioritária ao
          que demanda muita atenção e projetos de longa duração, e é neles que se deve 
          focar nessa época.
        </p>
            
        <h2>Bem-estar e visual</h2>

        <p>
          Positivo: fase indicada para fortalecer o corpo, fazer tratamentos de beleza 
          e dietas para ganhar peso. Também é uma boa fase para engravidar, pois favorece 
          a fertilidade e a gestação. Ideal para cuidar dos cabelos quimicamente tratados.
        </p>
            
        <p>
          Negativo: não é indicado o corte de cabelo para quem o deseja curto, pois esta 
          Lua beneficia o crescimento em todos os sentidos.
        </p>
            
            
    </div>  
  <ion-button [routerLink]="['/calendario']">Voltar</ion-button>
</ion-content>
