<ion-header>
  <ion-toolbar>
    <ion-title>A lua Minguante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="estrelado">
  <ion-img style="width: 200px; height: 200px" src="/assets/minguante.svg"></ion-img>
  <div style="text-align: center;">
      <p>
        Quarto minguante é uma das fases da Lua.Ocorre quando 
        o ângulo Terra-Lua-Sol é aproximadamente reto, de modo 
        que vemos apenas cerca da metade do disco lunar, no 
        período em que a parte iluminada está diminuindo 
        progressivamente.
      </p>

      <p>
        Não é à toa que a Minguante é a última das fases da Lua. Aqui, temos um 
        período caracterizado por diversos encerramentos. Hora de refletir sobre
        a vida e sobre o atingimento dos objetivos traçados anteriormente. Para 
        pensar em novos rumos e projetos a serem desenhados desde o início na
        próxima fase da Lua, esta é a melhor fase para os chamados balanços. 
        Não se aconselha começar novos desafios, pois aqui temos a representação 
        de um fim de ciclo. 
      </p>

      <h2>Bem-estar e visual</h2>

      <p>
        Positivo: esta é a época perfeita para começar dietas de emagrecimento e para
        desintoxicar, assim como cirurgias e tratamentos dentários. Também é uma boa 
        altura para se fazer a depilação e pintar o cabelo. O cabelo cortado nesta 
        Lua crescem menos volumosos.
      </p>

      <p>
        Negativo: se deseja mudar de visual, prefira a próxima fase lunar, pois esta 
        não é indicada para alterações consideráveis.
      </p>
            
  </div>
  <ion-button [routerLink]="['/calendario']">Voltar</ion-button>
  
</ion-content>
