<ion-header>
  <ion-toolbar>
    <ion-title>A lua Minguante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img style="width: 200px; height: 200px" src="/assets/minguante.svg"></ion-img>
  <p>Quarto minguante é uma das fases da Lua.Ocorre quando <br>
    o ângulo Terra-Lua-Sol é aproximadamente reto, de modo <br>
    que vemos apenas cerca da metade do disco lunar, no <br>
    período em que a parte iluminada está diminuindo 
    progressivamente.</p>
  <ion-button [routerLink]="['/calendario']">Voltar</ion-button>
  
</ion-content>
